.blog-detail-container {
    margin: 20px auto; 
    width: 80%; 
    text-align: center; 
  }
  
  .centered {
    text-align: center; 
    margin-bottom: 10px; 
    margin-top:2rem;
  }
  
  img.centered {
    display: block; 
    margin: 0 auto; 
    max-width: 50%; 
    height: auto; 
  }
  
  
  .ingredient-container {
    width: 50%; /* Ajusta el ancho del contenedor de ingredientes según tus necesidades */
    margin: auto; /* Centra el contenedor horizontalmente */
    margin-top:3rem;
}
ul{
  text-align: left;
}

