.App {
  text-align: center;
}

*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  color: #333; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  margin-top: 20px; /* Margen superior */
}