.pagination-container {
    margin-top: 20px; /* Espacio entre las tarjetas de blog y la paginación */
  }
  
  .pagination {
    display: flex;
    justify-content: center; /* Centrar los botones de paginación */
    align-items: center; /* Centrar el número de página */
  }
  
  .pagination button {
    margin: 0 10px; /* Espacio entre los botones de paginación */
  }
  

  /*para modificar los estilos que vienen por defecto del bootstrap*/
.btn.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #FFBD9B;;
    --bs-btn-border-color: #FFBD9B;;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0A1D37;
    --bs-btn-hover-border-color: #0A1D37;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0A1D37;
    --bs-btn-active-border-color: #FFBD9B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #FFBD9B;
    --bs-btn-disabled-border-color: #FFBD9B;
  
  }